openapi: 3.0.1
info:
  contact:
    email: support@clever-cloud.com
    name: Support
    url: https://www.clever-cloud.com/doc/get-help/support
  description: Public API for managing Clever-Cloud data and products
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.clever-cloud.com/terms-of-use/
  title: Clever-Cloud API
  version: 1.0.1
servers:
- description: The production API server
  url: https://api.clever-cloud.com/v2
paths:
  /authorize:
    post:
      operationId: postAuthorize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeAuthorization'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Auth
  /session/login:
    get:
      operationId: getLoginForm
      parameters:
      - explode: true
        in: query
        name: secondaryEmailKey
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: deletionKey
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: fromAuthorize
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cli_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: clever_flavor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
      tags:
      - User
    post:
      operationId: login
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                email:
                  type: string
                pass:
                  type: string
                from_authorize:
                  type: string
                cli_token:
                  type: string
                clever_flavor:
                  type: string
                oauth_token:
                  type: string
              type: object
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
      tags:
      - User
  /session/signup:
    get:
      operationId: getSignupForm
      parameters:
      - explode: true
        in: query
        name: invitationKey
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: url_next
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: clever_flavor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
      tags:
      - User
  /session/mfa_login:
    post:
      operationId: mfaLogin
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                mfa_kind:
                  type: string
                mfa_attempt:
                  type: string
                email:
                  type: string
                auth_id:
                  type: string
                from_authorize:
                  type: string
                cli_token:
                  type: string
                clever_flavor:
                  type: string
                oauth_token:
                  type: string
              type: object
      responses:
        "200":
          content:
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/OAuthApplicationView'
                type: array
      tags:
      - User
  /sessions/login:
    get:
      operationId: getLoginForm_1
      parameters:
      - explode: true
        in: query
        name: secondaryEmailKey
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: deletionKey
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: fromAuthorize
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cli_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: clever_flavor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
      tags:
      - User
    post:
      operationId: login_1
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                email:
                  type: string
                pass:
                  type: string
                from_authorize:
                  type: string
                cli_token:
                  type: string
                clever_flavor:
                  type: string
                oauth_token:
                  type: string
              type: object
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
      tags:
      - User
  /sessions/signup:
    get:
      operationId: getSignupForm_1
      parameters:
      - explode: true
        in: query
        name: invitationKey
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: url_next
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: clever_flavor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
      tags:
      - User
  /sessions/mfa_login:
    post:
      operationId: mfaLogin_1
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                mfa_kind:
                  type: string
                mfa_attempt:
                  type: string
                email:
                  type: string
                auth_id:
                  type: string
                from_authorize:
                  type: string
                cli_token:
                  type: string
                clever_flavor:
                  type: string
                oauth_token:
                  type: string
              type: object
      responses:
        "200":
          content:
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/OAuthApplicationView'
                type: array
      tags:
      - User
  /validation/vat/{key}:
    get:
      operationId: validate
      parameters:
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: action
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Payment
  /github/link:
    delete:
      operationId: deleteGithubLink
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - User
    get:
      operationId: getGithubLink
      parameters:
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: redirectUrl
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - User
  /github:
    get:
      operationId: getGithub
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTransactionView'
      tags:
      - User
  /github/signup:
    get:
      operationId: githubSignup
      parameters:
      - explode: true
        in: query
        name: redirectUrl
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: fromAuthorize
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cli_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: clever_flavor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: invitationKey
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: subscriptionSource
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: terms
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - User
    post:
      operationId: finsihGithubSignup
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                transactionId:
                  type: string
                name:
                  type: string
                otherId:
                  type: string
                otherEmail:
                  type: string
                password:
                  type: string
                autoLink:
                  type: string
                terms:
                  type: string
                invitationKey:
                  type: string
                mfa_kind:
                  type: string
                mfa_attempt:
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - User
  /github/login:
    get:
      operationId: getGithubLogin
      parameters:
      - explode: true
        in: query
        name: redirectUrl
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: fromAuthorize
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cli_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: clever_flavor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: invitationKey
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: subscriptionSource
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - User
  /github/callback:
    get:
      operationId: getGithubCallback
      parameters:
      - explode: true
        in: cookie
        name: CcOAuthData
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: error
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: error_description
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: error_uri
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - User
  /github/keys:
    get:
      operationId: getGithubKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SshKeyView'
                type: array
      tags:
      - User
  /github/emails:
    get:
      operationId: getGithubEmails
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      tags:
      - User
  /github/applications:
    get:
      operationId: getGithubApplications
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAuthApplicationView'
                type: array
      tags:
      - User
  /github/username:
    get:
      operationId: getGithubUsername
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - User
  /github/redeploy:
    post:
      operationId: postGithubRedeploy
      parameters:
      - explode: false
        in: header
        name: User-Agent
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Github-Event
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Hub-Signature
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GithubWebhookPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - User
  /oauth/authorize:
    get:
      operationId: authorizeForm
      parameters:
      - explode: true
        in: cookie
        name: ccid
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: cookie
        name: cctk
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ccid
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cli_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: from_oauth
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Auth
    post:
      operationId: authorizeToken
      parameters:
      - explode: true
        in: cookie
        name: ccid
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: cookie
        name: cctk
        required: false
        schema:
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                almighty:
                  type: string
                access_organisations:
                  type: string
                manage_organisations:
                  type: string
                manage_organisations_services:
                  type: string
                manage_organisations_applications:
                  type: string
                manage_organisations_members:
                  type: string
                access_organisations_bills:
                  type: string
                access_organisations_credit_count:
                  type: string
                access_organisations_consumption_statistics:
                  type: string
                access_personal_information:
                  type: string
                manage_personal_information:
                  type: string
                manage_ssh_keys:
                  type: string
              type: object
      responses:
        default:
          content:
            text/html: {}
            application/json: {}
          description: default response
      tags:
      - Auth
  /oauth/rights:
    get:
      operationId: getAvailableRights
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Auth
  /oauth/login_data:
    get:
      operationId: getLoginData
      parameters:
      - explode: true
        in: query
        name: oauth_key
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Auth
  /oauth/request_token_query:
    post:
      operationId: postReqTokenRequestQueryString
      parameters:
      - explode: true
        in: query
        name: clever_flavor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_consumer_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_verifier
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback_confirmed
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/x-www-form-urlencoded:
              schema:
                type: string
      tags:
      - Auth
  /oauth/request_token:
    post:
      operationId: postReqTokenRequest
      parameters:
      - explode: true
        in: query
        name: clever_flavor
        required: false
        schema:
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                oauth_consumer_key:
                  type: string
                oauth_token:
                  type: string
                oauth_signature_method:
                  type: string
                oauth_signature:
                  type: string
                oauth_timestamp:
                  type: string
                oauth_nonce:
                  type: string
                oauth_version:
                  type: string
                oauth_verifier:
                  type: string
                oauth_callback:
                  type: string
                oauth_token_secret:
                  type: string
                oauth_callback_confirmed:
                  type: string
              type: object
      responses:
        "200":
          content:
            application/x-www-form-urlencoded:
              schema:
                type: string
      tags:
      - Auth
  /oauth/access_token_query:
    post:
      operationId: postAccessTokenRequestQuery
      parameters:
      - explode: true
        in: query
        name: oauth_consumer_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_verifier
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback_confirmed
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/x-www-form-urlencoded: {}
          description: default response
      tags:
      - Auth
  /oauth/access_token:
    post:
      operationId: postAccessTokenRequest
      requestBody:
        $ref: '#/components/requestBodies/inline_object_7'
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                oauth_consumer_key:
                  type: string
                oauth_token:
                  type: string
                oauth_signature_method:
                  type: string
                oauth_signature:
                  type: string
                oauth_timestamp:
                  type: string
                oauth_nonce:
                  type: string
                oauth_version:
                  type: string
                oauth_verifier:
                  type: string
                oauth_callback:
                  type: string
                oauth_token_secret:
                  type: string
                oauth_callback_confirmed:
                  type: string
              type: object
      responses:
        default:
          content:
            application/x-www-form-urlencoded: {}
          description: default response
      tags:
      - Auth
  /organisations/{id}/avatar:
    put:
      operationId: setOrgaAvatar
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlView'
      tags:
      - Organisation
  /organisations/{id}:
    delete:
      operationId: deleteOrganisation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
    get:
      operationId: getOrganisation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationView'
      tags:
      - Organisation
    put:
      operationId: editOrganisation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeOrganisation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationView'
      tags:
      - Organisation
  /organisations/{id}/deployments:
    get:
      operationId: getDeploymentsForAllApps
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
  /organisations/{id}/payment-info:
    get:
      operationId: getPaymentInfoForOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInfoView'
      tags:
      - Organisation
  /organisations/{id}/instances:
    get:
      operationId: getInstancesForAllAppsForOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
  /organisations/{id}/namespaces:
    get:
      operationId: getNamespaces
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NamespaceView'
                type: array
      tags:
      - Organisation
  /organisations/{id}/addonproviders/{providerId}/tags:
    get:
      operationId: getProviderTags
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      tags:
      - Organisation
  /organisations/{id}/addonproviders/{providerId}:
    delete:
      operationId: deleteProvider
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
    get:
      operationId: getProviderInfo
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonProviderInfoView'
      tags:
      - Organisation
    put:
      operationId: updateProviderInfos
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeAddonProviderInfos'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonProviderInfoView'
      tags:
      - Organisation
  /organisations/{id}/addonproviders/{providerId}/features:
    get:
      operationId: getProviderFeatures
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddonFeatureView'
                type: array
      tags:
      - Organisation
    post:
      operationId: addProviderFeature
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeAddonFeature'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonFeatureView'
      tags:
      - Organisation
  /organisations/{id}/addonproviders/{providerId}/features/{featureId}:
    delete:
      operationId: deleteProviderFeature
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
  /organisations/{id}/addonproviders/{providerId}/plans:
    get:
      operationId: getProviderPlans
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddonPlanView'
                type: array
      tags:
      - Organisation
    post:
      operationId: addProviderPlan
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeAddonPlan'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonPlanView'
      tags:
      - Organisation
  /organisations/{id}/addonproviders/{providerId}/plans/{planId}:
    delete:
      operationId: deleteProviderPlan
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
    get:
      operationId: getProviderPlan
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonPlanView'
      tags:
      - Organisation
    put:
      operationId: editProviderPlan
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeAddonPlan'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonPlanView'
      tags:
      - Organisation
  /organisations/{id}/addonproviders/{providerId}/plans/{planId}/features/{featureName}:
    delete:
      operationId: deleteProviderPlanFeature
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: featureName
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
    put:
      operationId: editProviderPlanFeature
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: featureName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddonFeatureInstanceView'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonPlanView'
      tags:
      - Organisation
  /organisations/{id}/addonproviders/{providerId}/testers:
    post:
      operationId: addBetaTester
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
  /organisations/{id}/addonproviders/{providerId}/sso:
    get:
      operationId: getSSODataForOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonProviderSSOData'
      tags:
      - Organisation
  /organisations/{id}/addonproviders:
    get:
      operationId: getProvidersInfo
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddonProviderInfoFullView'
                type: array
      tags:
      - Organisation
    post:
      operationId: createProvider
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeAddonProvider'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonProviderInfoFullView'
      tags:
      - Organisation
  /organisations/{id}/addons/{addonId}/tags/{tag}:
    delete:
      operationId: deleteAddonTagByOrgaAndAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      tags:
      - Organisation
    put:
      operationId: addAddonTagByOrgaAndAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      tags:
      - Organisation
  /organisations/{id}/addons/{addonId}/tags:
    get:
      operationId: getAddonTagsByOrgaIdAndAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      tags:
      - Organisation
    put:
      operationId: replaceAddonTags
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      tags:
      - Organisation
  /organisations/{id}/addons/{addonId}/sso:
    get:
      operationId: getAddonSSODataForOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonProviderSSOData'
      tags:
      - Organisation
  /organisations/{id}/addons/{addonId}:
    delete:
      operationId: deprovisionAddonByOrgaAndAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
    get:
      operationId: getAddonByOrgaAndAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonView'
      tags:
      - Organisation
    put:
      operationId: updateAddonInfo
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeAddonProvision'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonView'
      tags:
      - Organisation
  /organisations/{id}/addons/{addonId}/applications:
    get:
      operationId: getApplicationsLinkedToAddonByOrgaAndAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationView'
                type: array
      tags:
      - Organisation
  /organisations/{id}/addons/{addonId}/env:
    get:
      operationId: getAddonEnvByOrgaAndAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddonEnvironmentView'
                type: array
      tags:
      - Organisation
  /organisations/{id}/addons/{addonId}/instances:
    get:
      operationId: getAddonInstances
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: deploymentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: withDeleted
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SuperNovaInstanceView'
                type: array
      tags:
      - Organisation
  /organisations/{id}/addons/{addonId}/instances/{instanceId}:
    get:
      operationId: getAddonInstance
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
  /organisations/{id}/addons/{addonId}/migrations:
    get:
      operationId: getAddonMigrations
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
    post:
      operationId: changePlanByOrgaAndAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabePlanChange'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
  /organisations/{id}/addons/{addonId}/migrations/preorders:
    get:
      operationId: preorderMigration
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: planId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
  /organisations/{id}/addons/preorders:
    post:
      operationId: preorderAddonByOrgaId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeAddonProvision'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceRendering'
      tags:
      - Organisation
  /organisations/{id}/addons:
    get:
      operationId: getAddonsByOrgaId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddonView'
                type: array
      tags:
      - Organisation
    post:
      operationId: provisionAddonByOrgaId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeAddonProvision'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonView'
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConfirmationErrorMessage'
      tags:
      - Organisation
  /organisations/{id}/addons/{addonId}/migrations/{migrationId}:
    delete:
      operationId: abortAddonMigration
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: migrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
    get:
      operationId: getAddonMigration
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: migrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/dependencies:
    get:
      operationId: getApplicationDependenciesByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationView'
                type: array
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/dependencies/env:
    get:
      operationId: getApplicationDependenciesEnvByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/dependencies/{dependencyId}:
    delete:
      operationId: deleteApplicationDependencyByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: dependencyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
    put:
      operationId: addApplicationDependencyByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: dependencyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/dependents:
    get:
      operationId: getApplicationDependentsByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationView'
                type: array
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/deployments/{deploymentId}/instances:
    delete:
      operationId: cancelApplicationDeploymentForOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/deployments:
    get:
      operationId: getApplicationDeploymentsForOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: action
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentView'
                type: array
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/deployments/{deploymentId}:
    get:
      operationId: getApplicationDeploymentForOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/tags:
    get:
      operationId: getApplicationTagsByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      tags:
      - Organisation
    put:
      operationId: replaceApplicationTags
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/tags/{tag}:
    delete:
      operationId: deleteApplicationTagByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      tags:
      - Organisation
    put:
      operationId: addApplicationTagByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/vhosts/{domain}:
    delete:
      operationId: removeVhostsByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
    put:
      operationId: addVhostsByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/vhosts/favourite:
    delete:
      operationId: unmarkFavouriteVhostByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
    get:
      operationId: getFavouriteVhostByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VhostView'
      tags:
      - Organisation
    put:
      operationId: markFavouriteVhostByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VhostView'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VhostView'
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/vhosts:
    get:
      operationId: getVhostsByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VhostView'
                type: array
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}:
    delete:
      operationId: deleteApplicationByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
    get:
      operationId: getApplicationByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationView'
      tags:
      - Organisation
    put:
      operationId: editApplicationByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeApplication'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationView'
      tags:
      - Organisation
  /organisations/{id}/applications:
    get:
      operationId: getAllApplicationsByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: instanceId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationView'
                type: array
      tags:
      - Organisation
    post:
      operationId: addApplicationByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeApplication'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationView'
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/branches:
    get:
      operationId: getApplicationBranchesByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/branch:
    put:
      operationId: setApplicationBranchByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeBranch'
        required: true
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/instances:
    delete:
      operationId: undeployApplicationByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
    get:
      operationId: getApplicationInstancesByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: deploymentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: withDeleted
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SuperNovaInstanceView'
                type: array
      tags:
      - Organisation
    post:
      operationId: redeployApplicationByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: commit
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: useCache
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/instances/{instanceId}:
    get:
      operationId: getApplicationInstanceByOrgaAndAppAndInstanceId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/addons:
    get:
      operationId: getAddonsLinkedToApplicationByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddonView'
                type: array
      tags:
      - Organisation
    post:
      operationId: linkAddonToApplicationByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/addons/{addonId}:
    delete:
      operationId: unlinkAddonFromApplicationByOrgaAndAppAnddAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/tcpRedirs:
    get:
      operationId: getTcpRedirs
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TcpRedirView'
                type: array
        "402":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InvoiceRendering'
                type: array
      tags:
      - Organisation
    post:
      operationId: addTcpRedir
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: payment
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeNamespace'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TcpRedirView'
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/tcpRedirs/{sourcePort}:
    delete:
      operationId: removeTcpRedir
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: sourcePort
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - explode: true
        in: query
        name: namespace
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/env/{envName}:
    delete:
      operationId: removeApplicationEnvByOrgaAndAppIdAndEnvName
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationView'
      tags:
      - Organisation
    put:
      operationId: editApplicationEnvByOrgaAndAppIdAndEnvName
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeValue'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationView'
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/env:
    get:
      operationId: getApplicationEnvByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddonEnvironmentView'
                type: array
      tags:
      - Organisation
    put:
      operationId: editApplicationEnvironmentByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationView'
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/addons/env:
    get:
      operationId: getEnvOfAddonsLinkedToApplicationByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LinkedAddonEnvironmentView'
                type: array
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/exposed_env:
    get:
      operationId: getExposedEnvByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
    put:
      operationId: updateExposedEnvByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
  /organisations/{id}/applications/{appId}/buildflavor:
    put:
      operationId: setBuildInstanceFlavorByOrgaAndAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeBuildFlavor'
        required: true
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
  /organisations/{id}/consumers/{key}/secret:
    get:
      operationId: getConsumerSecretByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretView'
      tags:
      - Organisation
  /organisations/{id}/consumers/{key}:
    delete:
      operationId: deleteConsumerByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
    get:
      operationId: getConsumerByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth1ConsumerView'
      tags:
      - Organisation
    put:
      operationId: updateConsumerByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeOAuth1Consumer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth1ConsumerView'
      tags:
      - Organisation
  /organisations/{id}/consumers:
    get:
      operationId: getConsumersByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OAuth1ConsumerView'
                type: array
      tags:
      - Organisation
    post:
      operationId: createConsumerByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeOAuth1Consumer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth1ConsumerView'
      tags:
      - Organisation
  /organisations/{id}/credits:
    get:
      operationId: getAmountForOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DropCountView'
      tags:
      - Organisation
  /organisations/{id}/consumptions:
    get:
      operationId: getConsumptionsForOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: appId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: for
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
  /organisations/{id}/members/{userId}:
    delete:
      operationId: removeOrganisationMember
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
    put:
      operationId: editOrganisationMember
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeMember'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
  /organisations/{id}/members:
    get:
      operationId: getOrganisationMembers
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganisationMemberView'
                type: array
      tags:
      - Organisation
    post:
      operationId: addOrganisationMember
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: invitationKey
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeMember'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      tags:
      - Organisation
  /organisations/{id}/payments/monthlyinvoice:
    get:
      operationId: getMonthlyInvoiceByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
  /organisations/{id}/payments/billings/{bid}.pdf:
    get:
      operationId: getPdfInvoiceByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: bid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/pdf: {}
      tags:
      - Organisation
  /organisations/{id}/payments/billings:
    get:
      operationId: getInvoicesByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InvoiceRendering'
                type: array
      tags:
      - Organisation
    post:
      operationId: buyDropsByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannaBuyPackage'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceRendering'
      tags:
      - Organisation
  /organisations/{id}/payments/monthlyinvoice/maxcredit:
    put:
      operationId: setMaxCreditsPerMonthByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeMaxCredits'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      tags:
      - Organisation
  /organisations/{id}/payments/fullprice/{price}:
    get:
      operationId: getPriceWithTaxByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: price
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceWithTaxInfo'
      tags:
      - Organisation
  /organisations/{id}/payments/billings/{bid}:
    delete:
      operationId: deletePurchaseOrderByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: bid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
    get:
      operationId: getInvoiceByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: bid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceRendering'
      tags:
      - Organisation
    put:
      operationId: choosePaymentProviderByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: bid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentProviderSelection'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextInPaymentFlow'
      tags:
      - Organisation
  /organisations/{id}/payments/recurring:
    delete:
      operationId: deleteRecurrentPaymentByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      tags:
      - Organisation
    get:
      operationId: getRecurrentPaymentByOrga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurrentPaymentView'
      tags:
[...]
